@import './tools'

[v-cloak]
  display none !important

html
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color black
  fontReg()
  // min-height 100vh
  -webkit-tap-highlight-color rgba($cOrange, .25)
  &.desktop
    min-width 100vw
    overflow-x hidden
    // padding-right 15px

::selection
  background-color $cOrange
  color white

a
  padding 5px
  margin -5px
  color inherit
  text-decoration none
  transition()
  +hover()
    hoverStyle()

#__nuxt
#__layout
.app
  // min-height 100vh
  height 100%

.page
  transition()
  transition-duration $tSlow
  &.v-enter
  &.v-leave-to
    opacity 0

.container
  grid-container()

.is-hidden
  display none

.heading-main
  fontLight()
  width-between-property 'font-size' 320 30 600 50 true false
  width-between-property 'font-size' 601 50 1000 60 false false
  width-between-property 'font-size' 1001 60 1440 100 false false
  width-between-property 'font-size' 1441 100 1920 140 false true
  line-height 0
  // width-between-property 'line-height' 320 40 600 70 true false
  // width-between-property 'line-height' 601 70 1000 80 false false
  // width-between-property 'line-height' 1001 80 1440 116 false false
  // width-between-property 'line-height' 1441 116 1920 150 false true
  width-between-property 'letter-spacing' 320 .75 600 1.25 true false
  width-between-property 'letter-spacing' 601 1.25 1000 1.5 false false
  width-between-property 'letter-spacing' 1001 1.5 1440 2.5 false false
  width-between-property 'letter-spacing' 1441 2.5 1920 3.5 false true
  text-transform uppercase
  &.is-white
    color white

.heading-small
  fontLight()
  width-between-property 'font-size' 320 27 600 50 true false
  width-between-property 'font-size' 601 50 1000 60 false false
  width-between-property 'font-size' 1001 60 1440 80 false false
  width-between-property 'font-size' 1441 80 1920 100 false true
  width-between-property 'line-height' 320 33 600 70 true false
  width-between-property 'line-height' 601 70 1000 80 false false
  width-between-property 'line-height' 1001 80 1440 100 false false
  width-between-property 'line-height' 1441 100 1920 110 false true
  width-between-property 'letter-spacing' 320 .75 600 1.25 true false
  width-between-property 'letter-spacing' 601 1.25 1000 1.5 false false
  width-between-property 'letter-spacing' 1001 1.5 1440 2 false false
  width-between-property 'letter-spacing' 1441 2 1920 2.5 false true
  text-transform uppercase

.text-main
  fontLight()
  width-between-property 'font-size' 320 14 600 16 true false
  width-between-property 'font-size' 601 16 1000 18 false false
  width-between-property 'font-size' 1001 18 1440 24 false false
  width-between-property 'font-size' 1441 24 1920 32 false true
  width-between-property 'line-height' 320 20 600 24 true true
  width-between-property 'line-height' 1001 24 1440 30 false false
  width-between-property 'line-height' 1441 30 1920 42 false true
  width-between-property 'letter-spacing'320 .35 600 .4 true false
  width-between-property 'letter-spacing' 601 .4 1000 .45 false false
  width-between-property 'letter-spacing' 1001 .45 1440 .6 false false
  width-between-property 'letter-spacing' 1440 .6 1920 .8 false true

.text-sub
  fontLight()
  width-between-property 'font-size' 320 14 600 16 true true
  width-between-property 'font-size' 1001 16 1440 18 false false
  width-between-property 'font-size' 1441 18 1920 24 false true
  width-between-property 'line-height' 320 20 600 24 true false
  width-between-property 'line-height' 601 24 1000 20 false false
  width-between-property 'line-height' 1001 20 1440 24 false false
  width-between-property 'line-height' 1441 24 1920 30 false true
  width-between-property 'letter-spacing'320 .35 600 .4 true false
  width-between-property 'letter-spacing' 601 .4 1000 .35 false false
  width-between-property 'letter-spacing' 1001 .35 1440 .45 false false
  width-between-property 'letter-spacing' 1440 .45 1920 .6 false true

.image-aligned-bottom
  +gt-sm()
    width-between-property 'bottom' 601 10 1000 15 true false
    width-between-property 'bottom' 1001 15 1440 25 false false
    width-between-property 'bottom' 1441 25 1920 40 false true

.image-aligned-top
  +gt-sm()
    width-between-property 'top' 601 0 1000 10 false false
    width-between-property 'top' 1001 10 1440 15 false false
    width-between-property 'top' 1441 15 1920 20 false true
  +xs()
    width-between-property 'top' 320 -10 600 -15 true true

// PageCart

.col-1
  margin-right auto
  +xl()
    width grid-column-offset(10, $gutterXl, 2)
  +lg()
    width grid-column-offset(8, $gutterLg, 2)
  +md()
    width grid-column(6, $gutterMd, 2)
  +sm()
    width grid-column(4, $gutterSm, 2)
  +xs()
    width grid-column-offset(4, $gutterXs, 2)

.col-2
  text-align center
  +xl()
    width grid-column(10, $gutterXl, 1)
    margin-right $gutterXl
  +lg()
    width grid-column(8, $gutterLg, 1)
    margin-right $gutterLg
  +md()
    width grid-column(6, $gutterMd, 1)
    margin-right $gutterMd
  +sm()
    width grid-column(4, $gutterSm, 1)
    margin-right $gutterSm
  +xs()
    width grid-column-offset(4, $gutterXs, 1)

.col-3
  text-align right
  +xl()
    width grid-column(10, $gutterXl, 1)
    margin-left grid-column-offset(10, $gutterXl, 1)
  +lg()
    width grid-column(8, $gutterLg, 1)
    margin-left grid-column-offset(8, $gutterLg, 1)
  +md()
    width grid-column(6, $gutterMd, 1)
    margin-left grid-column-offset(6, $gutterMd, 1)
  +sm()
    width grid-column(4, $gutterSm, 1)
  +xs()
    width grid-column(4, $gutterXs, 2)

.table-head
  padding-top 3px
  padding-bottom 5px
  color #a7a7a7
  fontReg()
  width-between-property 'font-size' 320 12 600 14 true false
  width-between-property 'font-size' 601 14 1000 16 false true
  line-height 16px
  width-between-property 'letter-spacing' 320 .3 600 .35 true false
  width-between-property 'letter-spacing' 601 .35 1000 .4 false true
  text-transform lowercase
  +xs()
    padding 0
    padding-top 1px

.table-cell-main
.table-cell-sub
  width-between-property 'font-size' 320 12 600 14 true false
  width-between-property 'font-size' 601 14 1000 16 false true
  line-height 16px
  width-between-property 'letter-spacing'320 .3 600 .35 true false
  width-between-property 'letter-spacing' 601 .35 1000 .4 false true

.table-cell-main
  fontMedium()
  text-transform uppercase

.table-cell-sub
  fontLight()
  white-space nowrap

// ScrollObserver animation class
.js-voa
  transition-property transform, opacity
  transition-duration $tSlow
  transition-delay 66.6ms
  +lt-md()
    transition-duration $tFast

.js-voa-start
  opacity 0
  transform translateY(30px)
  .with-hash &
    // transform none
    // opacity 1
