$font-path = '../static/fonts/'

@font-face
  font-family 'effra_trialregular'
  src url($font-path + 'effra_trial_rg-webfont.woff2') format('woff2'),
      url($font-path + 'effra_trial_rg-webfont.woff') format('woff')
  font-weight normal
  font-style normal

// @font-face
//   font-family 'effra_trialmedium_italic'
//   src url($font-path + 'effra_trial_mdit-webfont.woff2') format('woff2'),
//       url($font-path + 'effra_trial_mdit-webfont.woff') format('woff')
//   font-weight normal
//   font-style normal

@font-face
  font-family 'effra_trialmedium'
  src url($font-path + 'effra_trial_md-webfont.woff2') format('woff2'),
      url($font-path + 'effra_trial_md-webfont.woff') format('woff')
  font-weight normal
  font-style normal

// @font-face
//   font-family 'effra_triallight_italic'
//   src url($font-path + 'effra_trial_ltit-webfont.woff2') format('woff2'),
//       url($font-path + 'effra_trial_ltit-webfont.woff') format('woff')
//   font-weight normal
//   font-style normal

@font-face
  font-family 'effra_triallight'
  src url($font-path + 'effra_trial_lt-webfont.woff2') format('woff2'),
      url($font-path + 'effra_trial_lt-webfont.woff') format('woff')
  font-weight normal
  font-style normal

// @font-face
//   font-family 'effra_trialitalic'
//   src url($font-path + 'effra_trial_it-webfont.woff2') format('woff2'),
//       url($font-path + 'effra_trial_it-webfont.woff') format('woff')
//   font-weight normal
//   font-style normal

// @font-face
//   font-family 'effra_trialheavy_italic'
//   src url($font-path + 'effra_trial_heit-webfont.woff2') format('woff2'),
//       url($font-path + 'effra_trial_heit-webfont.woff') format('woff')
//   font-weight normal
//   font-style normal

// @font-face
//   font-family 'effra_trialheavy'
//   src url($font-path + 'effra_trial_he-webfont.woff2') format('woff2'),
//       url($font-path + 'effra_trial_he-webfont.woff') format('woff')
//   font-weight normal
//   font-style normal

// @font-face
//   font-family 'effra_trialbold_italic'
//   src url($font-path + 'effra_trial_bdit-webfont.woff2') format('woff2'),
//       url($font-path + 'effra_trial_bdit-webfont.woff') format('woff')
//   font-weight normal
//   font-style normal

@font-face
  font-family 'effra_trialbold'
  src url($font-path + 'effra_trial_bd-webfont.woff2') format('woff2'),
      url($font-path + 'effra_trial_bd-webfont.woff') format('woff')
  font-weight normal
  font-style normal
